/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/
.container .three.columns {
    width: 62px;
}

.container{
  width: 1100px !important;
}

.container .four.columns{
  width: 260px !important;
}


.container .twelve.columns {
  width: 800px !important;
}

.fullwidth-menu{
  width: 930px;
}

.container .sixteen.columns {
  width: 930px;
}
